#search-results {
    max-height: 300px;
    overflow-y: auto;
    width: 100%; /* S'assurer que la largeur correspond à celle du champ de recherche */
    border: 1px solid #ccc; /* Bordure pour séparer visuellement les résultats */
    background-color: rgb(255, 255, 255); /* Fond blanc pour une meilleure lisibilité */
    display: none; /* Initialement masqué */
    z-index: 1000; /* S'assurer qu'il est au-dessus d'autres éléments */
}
